@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  cursor: pointer;
  margin: 0 24px 0 0;
  z-index: 50;
}

.menu__burger {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0;
  position: relative;
}

.menu__item:not(:last-child) {
  margin: 0 24px 0 0;
}

.menu__arrow {
  cursor: pointer;
  margin: 0 13px 0 5px;
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link {
  color: #EEEEEE;
  font-weight: 400;
  font-size: 14px;
  line-height: 142%;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__sub-list {
  min-width: 150px;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(43, 43, 43);
  padding: 15px;
  -webkit-transform: translate(0px, 5%);
      -ms-transform: translate(0px, 5%);
          transform: translate(0px, 5%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none;
}

.menu__sub-item:not(:last-child) {
  margin: 0 0 9px 0;
}

.menu__sub-link {
  font-size: 14px;
  line-height: 142%;
  color: #EEEEEE;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

.header__registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  margin: 0 16px 0 0;
  cursor: pointer;
  line-height: 133%;
  font-weight: 700;
  font-size: 12px;
  border-radius: 4px;
  background: #24B47E;
  padding: 7px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #EEEEEE;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__button:hover {
  background: #1f9b6e;
  color: #d6d6d6;
}

.header__entrance {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 142%;
}

.menu__list > li._active:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}

.menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body.light .menu__sub-list {
  background: #FFFFFF;
}

body.light .menu__body {
  background: #f8f8f8;
}

body.light .header__button {
  color: #fff;
}

body.light .popup * {
  color: #fff;
}

body.light .popup__modal-window {
  background: #1f9b6e;
}

body.light .menu__burger::after {
  background: rgb(0, 0, 0);
}

body.light .menu__burger::before {
  background: rgb(0, 0, 0);
}

body.light .menu__burger span {
  background: rgb(0, 0, 0);
}

.popup {
  z-index: 6;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup._open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  z-index: 10;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 15px;
}

.popup__modal-window {
  background: #181818;
  color: #d1d1d1;
  width: 500px;
  height: 300px;
  padding: 20px 30px;
}

.popup__input-email {
  min-width: 60%;
  height: 40px;
  padding: 0 0 0 20px;
  background: #181818;
  border: 1px solid #EEEEEE;
  color: #fff;
  margin: 0 0 10px 0;
  border-radius: 4px;
}

.popup__input-password {
  min-width: 60%;
  height: 40px;
  padding: 0 0 0 20px;
  background: #181818;
  border: 1px solid #EEEEEE;
  color: #fff;
  border-radius: 4px;
  margin: 0 0 15px 0;
}

.popup__title {
  font-size: 20px;
  margin: 0 0 15px 0;
}

.popup__forgot-container {
  margin: 0 0 15px 0;
}

.popup__forgot {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  min-width: 180px;
  height: 40px;
  background: #24B47E;
  border-radius: 4px;
  line-height: 122%;
  margin: 0 0 15px 0;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__button:hover {
  background: #1f9b6e;
  color: #d6d6d6;
}

.popupe__single {
  color: #fff;
  margin: 0 auto;
  font-size: 12px;
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]::before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-box:before {
  content: "\e901";
}

._icon-crescent:before {
  content: "\e902";
  font-size: 19.35px;
  color: #BBBBBB;
}

._icon-github:before {
  content: "\e903";
}

._icon-key:before {
  content: "\e904";
}

._icon-sun:before {
  content: "\e905";
  font-size: 28px;
  color: #BBBBBB;
}

._icon-trash:before {
  content: "\e906";
}

._icon-twitter:before {
  content: "\e907";
}

.footer {
  padding: 97px 0 97px 0;
}

.footer__footer-top {
  padding: 0 0 128px 0;
}

.footer__logo {
  margin: 0 0 32px 0;
  cursor: pointer;
}

.footer__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-networks div {
  cursor: pointer;
}

.footer__social-network:not(:last-child) {
  margin: 0 28px 0 0;
}

.footer__columns {
  margin: 0 -15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 68.6%;
          flex: 0 0 68.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.footer__name {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 142%;
  color: #666666;
  margin: 0 0 19px 0;
  cursor: pointer;
}

.footer__name:hover {
  text-decoration: underline;
}

.footer__item:not(:last-child) {
  margin: 0 0 15px 0;
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 142%;
  color: #EEEEEE;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.4%;
          flex: 0 0 31.4%;
  margin: 0 32px 0 0;
}

.footer-top__copyright {
  padding: 33px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

.footer-top__themes {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 33px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-top__theme-light {
  margin: 0 22px 0 0;
}

.footer-top__choice {
  border-radius: 9999px;
  margin: 0 22px 0 0;
  width: 44px;
  height: 24px;
  background: #444444;
  position: relative;
}

.footer-top__circle {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  background: #1F1F1F;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-bottom__body {
  border-top: 1px solid #2A2A2A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top__choice._active .footer-top__circle {
  -webkit-transform: translate(-20px, 0);
      -ms-transform: translate(-20px, 0);
          transform: translate(-20px, 0);
}

body {
  font-weight: 400;
  font-family: Roboto;
  font-size: 14px;
  background: #181818;
  color: #e4e4e4;
}

body._lock {
  overflow: hidden;
}

body.light {
  background: #f8f8f8;
  color: #444444;
}

body.light a {
  color: #444444;
}

body.footer-top__choice {
  background: #444444;
}

body.light .documentation__title,
body.light .start-project__title span,
body.light .documentation__allow,
body.light .dashboard__sub-title,
body.light .dashboard__text,
body.light .body-dashboard__sub-title {
  color: #3ECF8E;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

._container {
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 15px;
}

.page__digital-content {
  padding: 128px 0 0 0;
}

.digital-content__container {
  margin: 0 auto;
  max-width: 1195px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.digital-content__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 45px 0 0;
}

.digital-content__storage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 28px 0;
}

.digital-content__storage-icon {
  margin: 0 12px 0 0;
}

.digital-content__storage-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
}

.digital-content__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin: 0 0 52px 0;
}

.digital-content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  margin: 0 0 64px 0;
}

.digital-content__text span:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 11px 0;
}

.digital-content__button {
  width: 132px;
  margin: 0 0 0 45px;
}

.digital-content__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.digital-content__image img {
  width: 100%;
}

._icon-trash {
  padding: 8.5px;
  background: #fff;
  color: #6A6A6A;
  border-radius: 10px;
}

.button {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 142%;
  border-radius: 4px;
  background: #24B47E;
  padding: 7px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #EEEEEE;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background: #1f9b6e;
  color: #d6d6d6;
}

.page__advantages {
  padding: 95px 0;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -46.5px;
}

.advantages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 46.5px;
}

.advantages__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 16px 0;
}

.advantages__icons :not(:last-child) {
  margin: 0 12px 0 0;
}

.advantages__trash {
  color: #C4C4C4;
}

.advantages__key {
  color: #C4C4C4;
  padding: 8.5px;
  background: #fff;
  border-radius: 10px;
}

.advantages__box {
  color: #C4C4C4;
  padding: 8.5px;
  background: #fff;
  border-radius: 10px;
}

.advantages__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  margin: 0 0 16px 0;
}

.advantages__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
}

.page__dashboard {
  padding: 96px 0;
}

.dashboard__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin: 0 0 16px 0;
}

.dashboard__sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #E0E0E0;
  margin: 0 0 16px 0;
}

.dashboard__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 142%;
  color: #E0E0E0;
  margin: 0 0 64px 0;
}

.dashboard__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin: 0 187px 0 0;
}

.dashboard__menu {
  margin: 0 0 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard__menu :first-child {
  padding: 7px 11px;
  color: #FFFFFF;
  background: #1F1F1F;
}

.dashboard__menu :not(:last-child) {
  margin: 0 23px 0 0;
}

.dashboard__item {
  cursor: pointer;
  min-width: 60px;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #666666;
}

.dashboard__item:hover {
  text-decoration: underline;
}

.dashboard__picture {
  max-width: 558px;
  max-height: 367px;
}

.dashboard__picture img {
  width: 100%;
  height: 100%;
}

.dashboard__body-dashboard {
  border-bottom: 1px solid #2A2A2A;
}

.body-dashboard__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 16px 0;
}

.body-dashboard__sub-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #E0E0E0;
  margin: 0 0 44px 0;
}

.body-dashboard__familiarization {
  font-weight: 400;
  font-size: 18px;
  line-height: 155%;
  margin: 0 0 16px 0;
}

.body-dashboard__example-dashboard {
  background: #1F1F1F;
  padding: 22px 21px;
}

.example-dashboard__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 4px 0;
}

.example-dashboard__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 153%;
  color: #E0E0E0;
  margin: 0 0 13px 0;
}

.example-dashboard__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 142%;
}

.example-dashboard__logo :not(:last-child) {
  margin: 0 8px 0 0;
}

.body-dashboard__management {
  padding: 21px;
}

.body-dashboard__management-management {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 12px 0;
}

.body-dashboard__management-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 142%;
  margin: 0 10px 0 0;
}

.body-dashboard__button {
  height: 32px;
  width: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1374EF;
  border-radius: 5px;
  margin: 0 0 21px 21px;
  cursor: pointer;
}

.body-dashboard__triangle {
  padding: 10px;
  border-right: 1px solid #1269D3;
}

.body-dashboard__triangle-content {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #fff;
}

.body-dashboard__button-text {
  padding: 10px;
  font-size: 13px;
}

.page__simple-code {
  padding: 96px 0 0 0;
  border-bottom: 1px solid #2A2A2A;
}

.simple-code__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px 12px 15px;
}

.simple-code__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.5%;
          flex: 0 1 37.5%;
}

.simple-code__title {
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 119%;
}

.simple-code__text {
  font-size: 14px;
  line-height: 142%;
  margin: 0 0 32px 0;
}

.simple-code__text:not(:last-child) span {
  display: block;
  margin: 0 0 19px 0;
}

.simple-code__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.simple-code__items :first-child {
  margin: 0 64px 0 0;
}

.simple-code__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.simple-code__icon {
  padding: 0 0 16px 0;
}

.simple-code__big-title {
  margin: 0 0 16px 0;
  font-size: 18px;
  line-height: 155%;
}

.simple-code__sub-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0 0 19px 0;
  font-size: 14px;
  line-height: 142%;
}

.simple-code__future-function {
  background: rgba(49, 130, 206, 0.1);
  border-radius: 9999px;
  color: #4299E1;
  padding: 2px 10px;
  font-size: 12px;
  line-height: 133%;
  height: 20px;
  width: 97px;
}

.simple-code__little-title {
  margin: 0 0 16px 0;
  font-size: 12px;
  line-height: 28px;
}

.simple-code__code {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.1%;
          flex: 0 1 47.1%;
}

.simple-code__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 16px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.simple-code__menu :first-child {
  padding: 7px 11px;
  color: #FFFFFF;
  background: #2A2A2A;
}

.simple-code__menu-item {
  cursor: pointer;
  font-size: 12px;
  line-height: 133%;
  color: #666666;
}

.simple-code__grid {
  padding: 12px 0 0 0;
  border: 1px solid #2A2A2A;
  position: relative;
}

.simple-code__copy {
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  top: 2.5%;
  right: 1.5%;
  border: 1px solid #666666;
  height: 30px;
  width: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simple-code__copy-icon {
  margin: 0 8px 0 0;
}

.simple-code__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.simple-code__line:first-child {
  padding: 11px 0 0 0;
}

.simple-code__line:last-child {
  border-bottom: 1px solid #2A2A2A;
  padding: 0 0 14px 0;
  margin: 0 0 45px 0;
}

.simple-code__cell {
  background: #1E1E1E;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 9.1%;
          flex: 1 1 9.1%;
  margin: 0 12px 0 0;
  padding: 4px 0px 3px 29px;
  font-size: 12px;
  line-height: 116%;
  color: #828282;
  max-width: 50px;
}

.simple-code__line-code {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57.4%;
          flex: 1 1 57.4%;
  font-size: 12px;
  line-height: 116%;
  font-family: "Source Code Pro";
  color: #DDDDDD;
}

.simple-code__line-code span.brown {
  color: #75715E;
}

.simple-code__line-code span.blue {
  color: #569CD6;
}

.simple-code__line-code span.green {
  color: #3ECF8E;
}

.page__documentation {
  padding: 143px 0 96px 0;
}

.documentation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.documentation__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37%;
          flex: 0 1 37%;
}

.documentation__title {
  font-size: 36px;
  line-height: 119%;
  color: #FFFFFF;
  margin: 0 0 16px 0;
}

.documentation__sub-title {
  font-size: 14px;
  line-height: 200%;
  margin: 0 0 39px 0;
}

.documentation__text {
  font-size: 14px;
  line-height: 142%;
  margin: 0 0 29px 0;
}

.documentation__documentation-expore {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2A2A2A;
  padding: 10px 0;
  max-width: 205px;
  max-height: 36px;
}

.documentation__documentation-expore:hover {
  text-decoration: underline;
}

.documentation__icon {
  margin: 0 12px 0 0;
}

.documentation__documentation-text {
  font-size: 14px;
  line-height: 114%;
}

.documentation__code {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
}

.documentation__menu {
  cursor: pointer;
  margin: 0 0 16px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.documentation__menu :first-child {
  color: #fff;
  padding: 7px 11px;
  background: #2A2A2A;
}

.documentation__item {
  color: #666666;
  font-size: 12px;
  line-height: 133%;
  padding: 0 0;
}

.documentation__grid {
  border: 1px solid #2A2A2A;
  position: relative;
}

.documentation__copy {
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  top: 2.5%;
  right: 1.5%;
  border: 1px solid #666666;
  height: 30px;
  width: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.documentation__copy-icon {
  margin: 0 8px 0 0;
}

.documentation__copy-text {
  font-size: 12px;
  line-height: 133%;
}

.documentation__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.documentation__line:first-child {
  padding: 11px 0 0 0;
}

.documentation__line:last-child {
  padding: 0 0 13px 0;
  margin: 0 0 32px 0;
}

.documentation__cell {
  background: #1E1E1E;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 9.1%;
          flex: 1 1 9.1%;
  margin: 0 12px 0 0;
  padding: 4px 0px 3px 29px;
  font-size: 12px;
  line-height: 116%;
  color: #828282;
  max-width: 40px;
}

.documentation__line-code {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 57.4%;
          flex: 1 1 57.4%;
  font-size: 12px;
  line-height: 116%;
  font-family: "Source Code Pro";
  color: #DDDDDD;
}

.documentation__line-code span.brown {
  color: #75715E;
}

.documentation__line-code span.blue {
  color: #569CD6;
}

.documentation__line-code span.green {
  color: #3ECF8E;
}

.documentation__allow {
  font-size: 18px;
  line-height: 155%;
  color: #FFFFFF;
  padding: 0 0 0 29px;
}

.documentation__allow:not(:last-child) {
  margin: 0 0 16px 0;
}

.documentation__explanation {
  font-size: 14px;
  line-height: 142%;
  color: #666666;
  margin: 0 0 101px 0;
  padding: 0 0 0 29px;
}

.page__start-project {
  padding: 128px 0;
}

.start-project__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-project__title {
  font-size: 36px;
  line-height: 119%;
  color: #BBBBBB;
  margin: 0 0 52px 0;
}

.start-project__title span {
  color: #FFFFFF;
}

@media (max-width: 1080px) {
  .documentation__item {
    font-size: 11px;
  }
}

@media (max-width: 1024px) {
  .dashboard__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    margin: 0 0 12px 0;
  }

  .dashboard__sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #E0E0E0;
    margin: 0 0 12px 0;
  }

  .dashboard__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 142%;
    color: #E0E0E0;
    margin: 0 0 34px 0;
  }

  .dashboard__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .dashboard__image {
    margin: 0 0 50px 0;
  }

  .dashboard__menu {
    margin: 0 0 17px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .dashboard__menu :first-child {
    padding: 7px 11px;
    color: #FFFFFF;
    background: #1F1F1F;
  }

  .dashboard__menu :not(:last-child) {
    margin: 0 23px 0 0;
  }

  .dashboard__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .simple-code__container {
    display: block;
  }

  .simple-code__body {
    margin: 0 0 40px 0;
  }

  .simple-code__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .simple-code__menu :not(:last-child) {
    margin: 0 32px 0 0;
  }

  .documentation__container {
    display: block;
  }

  .documentation__code {
    width: 95%;
  }

  .documentation__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .documentation__menu :not(:last-child) {
    margin: 0 32px 0 0;
  }

  .documentation__body {
    margin: 0 0 40px 0;
  }

  .documentation__title {
    font-size: 30px;
    line-height: 119%;
    margin: 0 0 8px 0;
  }

  .documentation__sub-title {
    margin: 0 0 20px 0;
  }

  .documentation__text {
    margin: 0 0 15px 0;
  }
}

@media (max-width: 768px) {
  .start-project__title {
    font-size: 24px;
    margin: 0 0 42px 0;
  }
}

@media (max-width: 767px) {
  .menu__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__burger::after,
  .menu__burger::before,
  .menu__burger span {
    width: 100%;
    height: 10%;
    position: absolute;
    background: #EEE;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__burger::after,
  .menu__burger::before {
    content: "";
  }

  .menu__burger::after {
    bottom: 0;
  }

  .menu__burger::before {
    top: 0;
  }

  .menu__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__burger.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__burger.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__burger.active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 64px 15px 0 15px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #24B47E;
    height: 64px;
    z-index: 5;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    position: fixed;
  }

  .header__body {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__registration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    bottom: 0;
    left: -100%;
    width: 100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .header__button {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    border-radius: 0;
    font-size: 20px;
  }

  .header__entrance {
    padding: 7px 0;
    width: 100%;
    border-top: 1px solid rgb(43, 43, 43);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 22px;
    z-index: 20;
    background: #000;
    color: #fff;
  }

  body.light .header__entrance {
    background: #444444;
  }

  .menu__list {
    display: block;
  }

  .menu__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__item:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .menu__link {
    font-size: 20px;
  }

  .menu__arrow {
    margin: 0 0 0 10px;
    display: block;
    font-size: 18px;
  }

  .menu__sub-list {
    margin: 20px 0 0 0;
    display: none;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-width: 150px;
    position: relative;
    top: 100%;
    left: 0;
    background: rgb(43, 43, 43);
    padding: 15px;
    -webkit-transform: translate(0px, 5%);
        -ms-transform: translate(0px, 5%);
            transform: translate(0px, 5%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    pointer-events: none;
  }

  .menu__sub-item:not(:last-child) {
    margin: 0 0 9px 0;
  }

  .menu__sub-link {
    font-size: 14px;
    line-height: 142%;
    color: #EEEEEE;
  }

  .menu__sub-link:hover {
    text-decoration: underline;
  }

  .menu__list > li._active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    pointer-events: all;
  }

  .header__registration._active {
    left: 0;
  }

  .menu__burger._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__burger._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .footer-top__container {
    display: block;
  }

  .footer-top__contacts {
    margin: 0 0 30px 0;
  }

  .footer__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
  }

  .footer__column {
    min-width: 130px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    padding: 10px 10px;
  }

  .footer {
    padding: 87px 0 97px 0;
  }

  .footer__footer-top {
    padding: 0 0 118px 0;
  }

  .digital-content__container {
    margin: 0 auto;
    max-width: 1195px;
    padding: 0 15px;
    display: block;
  }

  .digital-content__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin: 0 auto 30px;
  }

  .digital-content__image {
    width: 75%;
    margin: 0 auto;
  }

  .digital-content__image img {
    width: 100%;
  }

  .digital-content__text br {
    display: none;
  }

  .advantages__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .advantages__icons {
    margin: 0 0 5px 0;
  }

  .advantages__title {
    margin: 0 0 5px 0;
  }

  .advantages__item {
    width: 60%;
    padding: 0;
  }

  .advantages__item:not(:last-child) {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 600px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .digital-content__storage {
    margin: 0 0 15px 0;
  }

  .digital-content__storage-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
  }

  .digital-content__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    margin: 0 0 15px 0;
  }

  .digital-content__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    margin: 0 0 20px 0;
  }

  .digital-content__image {
    width: 98%;
    margin: 0 auto;
  }

  .documentation__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .documentation__menu :not(:last-child) {
    margin: 0 10px 0 0;
  }

  .documentation__item {
    padding: 8px 0;
    font-size: 10px;
  }
}

@media (max-width: 555px) {
  .simple-code__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .simple-code__menu-item {
    padding: 8px 0;
  }

  .simple-code__line-code {
    font-size: 9px;
  }

  .simple-code__items :first-child {
    margin: 0 32px 0 0;
  }

  .simple-code__copy-text {
    font-size: 10px;
  }

  .simple-code__copy {
    height: 20px;
    width: 65px;
  }
}

@media (max-width: 530px) {
  .dashboard__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 17px 0;
  }

  .dashboard__menu :first-child {
    padding: 5px 6px;
  }

  .dashboard__menu :not(:last-child) {
    margin: 0 10px 0 0;
  }

  .dashboard__item {
    padding: 5px 0;
    text-align: center;
    min-width: 60px;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #666666;
  }

  .body-dashboard__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 8px 0;
  }

  .body-dashboard__sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #E0E0E0;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 425px) {
  .documentation__line-code {
    font-size: 8px;
  }

  .documentation__allow {
    font-size: 10px;
  }

  .documentation__allow:not(:last-child) {
    margin: 0 0 10px 0;
  }

  .documentation__explanation {
    font-size: 8px;
    line-height: 142%;
    color: #666666;
    margin: 0 0 101px 0;
    padding: 0 0 0 29px;
  }

  .start-project__title {
    font-size: 18px;
    margin: 0 0 32px 0;
  }
}